<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        let score = 0;
        let audio = new Audio();
        function pausePlayback() {
            audio.src = "";
        }
        let answer;
        function getSound() {
        document.body.innerHTML = ''
        $(document).ready(function(){
        $.getJSON('/_new_sound', {}, function(data) {
            audio = new Audio();
            answer = data.answer;
            audio.src = data.link;
            let btn = document.createElement("button");
            btn.innerHTML = "Play";
            btn.className = "btn btn-light";
            btn.id = "play-button";
            btn.onclick = () => {
                audio.play();
            }
            document.body.appendChild(btn);
            for (let i = 0; i < data.options.length; i++) {
                let btn = document.createElement("button");
                btn.innerHTML = data.options[i];
                btn.className = "btn btn-light";
                btn.id = data.options[i];
                document.body.appendChild(btn);
                btn.onclick = function () {checkAnswer(data.options[i])};
            }
            let text = document.createElement("h1");
            text.innerText = "Score: " + score.toString()
            text.id = "score";
            document.body.appendChild(text);


        });
		});
    }</script>
    <script>
    function checkAnswer(name) {
        if (name == "{{data.answer|safe}}" || name == answer) {
            document.getElementById(name).style.background = '#00FF00';
            score += 100;
            pausePlayback();
            getSound();

        } else {
            document.getElementById(name).style.background = '#FF0000';
            score -= 100;
            document.getElementById("score").innerText = "Score: " + score.toString();
        }
    }
    </script>

</head>
<body>
<script>
    getSound();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</script>
</body>
</html>